* {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}
.container {
    background-color: white;
}
.form-wrapper {
    margin: 100px 250px;
    text-align: center;
    border: 2px solid #000000;
    background-color: #ffff;
    font-family: 'Urbanist';
}

.heading {
    font-weight: 700;
    font-size: 35px;
    padding-top: 100px;
    padding-bottom: 30px;
    color: #1F1C1C;
}

.google-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.google-login button {
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 15px 90px;
    font-size: 16px;
    font-weight: 700;
    color: #1F1C1C;
    cursor: pointer;
}

.google-icon {
    font-size: 25px;
}

.horizontal-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

hr {
    width: 21%;
    border-bottom: 1px solid #000000;
    font-weight: 100;
}

.horizontal-line p {
    font-weight: 700;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 205px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1F1C1C;
}

input {
    border: 1px solid #000000;
    outline: none;
    padding: 100px;
}
input:focus:invalid {
    border: red 2px solid;
}

.user_field, .user_password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 205px;
    padding: 20px 0 20px 20px;
    width: 360px;
    margin-bottom: 10px;
    background-color: #ffff;  
}

.forget_password {
    margin-left: 195px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #1F1C1C;
}

.login_button {
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 12px 150px;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 100px;
    margin-left: 205px;
    cursor: pointer;
    color: white;
    background-color: #000000;
    width: 360px;
}
    /* this css will be applied until the  maximum width is 1140px*/
 @media (max-width: 1140px) {  
    .form-wrapper {
        margin: 100px 150px;
    }

    label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 185px;
    }

    .user_field,
    .user_password {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 185px;
    }

    .login_button {
        margin-left: 185px;
    }

    hr {
        width: 23%;
        border-bottom: 1px solid #000000;
        font-weight: 100;
    }

    .forget_password {
        margin-left: 160px;
    }

}
        /* this css will be applied until the  maximum width is 1023px*/
@media (max-width: 1023px) {
    .form-wrapper {
        margin: 100px 25px;
    }

    label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 185px;
    }

    .user_field,
    .user_password {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 185px;
    }

    .login_button {
        margin-left: 185px;
    }

    hr {
        width: 23%;
        border-bottom: 1px solid #000000;
        font-weight: 100;
    }

    .forget_password {
        margin-left: 160px;
    }

}
/* this css will be applied until the  maximum width is 960px*/
@media (max-width: 960px) {
    .form-wrapper {
        margin: 100px 10px;
    }

    label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 185px;
    }

    .user_field,
    .user_password {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 185px;
    }

    .login_button {
        margin-left: 185px;
    }

    hr {
        width: 23%;
        border-bottom: 1px solid #000000;
        font-weight: 100;
    }
    .forget_password {
            margin-left: 160px;
    }

}
        /* this css will be applied until the  maximum width is 720px*/
@media (max-width: 720px) {
    .form-wrapper{
        margin: 100px 10px;
    }
    label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 115px;
    }
    .user_field,
    .user_password {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 115px;
    }
    .login_button {
        margin-left: 115px;
    }
    hr {
        width: 25%;
        border-bottom: 1px solid #000000;
        font-weight: 100;
    }
        .forget_password {
            margin-left: 120px;
        }
}
/* this css will be applied until the  maximum width is 540px*/
@media (max-width:540px) {
    .form-wrapper {
        margin: 100px 10px;
    }
    label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 50px;
    }
    .user_field,
    .user_password {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }
        
    .login_button {
         margin-left: 50px;
    }
        
    hr {
        width: 35%;
        border-bottom: 1px solid #000000;
        font-weight: 100;
    }
    .forget_password {
        margin-left: 120px;
    }
}


